@model IEnumerable<FitBarbs.Web.Models.Course>

<h2>Panel instruktora</h2>
<a class="btn-primary mb-3 inline-block" href="@Url.Action("Create", "Courses")">Nowy kurs</a>

<div class="overflow-x-auto">
<table class="table align-middle mb-0 w-full">
    <thead>
        <tr>
            <th>Tytuł</th>
            <th>Poziom</th>
            <th>Lekcje</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var c in Model)
        {
            <tr>
                <td>@c.Title</td>
                <td>@c.Difficulty</td>
                <td>@c.Lessons.Count</td>
                <td>
                    <a class="btn-secondary" href="@Url.Action("Details", "Courses", new { id = c.Id })">Szczegóły</a>
                </td>
            </tr>
        }
    </tbody>
    
</table>
</div>


